NODE_ENV=development

MONGO_URI=mongodb://root:root@mongo:27017

PORT=3000 

JWT_SECRET=implimpl
JWT_EXPIRED=30d

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=215dd594c5bc04
SMTP_PASSWORD=c5ef2aa9179311
FROM_EMAIL=noreply@impl.co.jp
FROM_NAME=impl_training